.contenitore-altezza{
    height: 300px;
    background-color: greenyellow;
}
.container{
    border: 3px solid salmon;
}
.container-fluid{
    border: 1px solid blue;
}
.row{
    border: 2px solid red;
}
.col{
    border: 2px solid blue;
}
.man-picture{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.title{
    display: flex;
    justify-content: center;
}
.subtitle{
    display: flex;
    justify-content: center;
}
.title-picture{
    text-align: center;
}
.foto{
    border: 1px solid green;
    text-align: center;
}
.box-about{
    background-color: greenyellow;
}
.about{
    text-align: center;
}
.about-text{
    border: 1px solid black;
}
.button-download{
    text-align: center;
}
.contact-title{
    text-align: center;
}
footer{
    text-align: center;
}