.container{
    border: 3px solid salmon;
}
.container-fluid{
    border: 1px solid blue;
}
.bg-green{
    background-color: greenyellow;
}
.header-content{
    text-align: center;
    padding: 50px 0;
}
.row{
    border: 2px solid red;
}
.col{
    border: 2px solid blue;
}
.man-picture{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.title-picture{
    text-align: center;
    margin-bottom: 24px;
}
.box-picture{
    height: 260px;
    background-color: red;
    margin-bottom: 24px;
}
.about-content{
    padding: 50px 0;
    color: white;
}
.about-title{
    text-align: center;
    margin-bottom: 24px;
}
.about-text-container{
    border: 1px solid black;
}
.button-download{
    text-align: center;
}
form input{
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 20px;
}
textarea{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.contact-title{
    text-align: center;
}

footer{
    text-align: center;
}
