/* MODIFICA DELLA NAV */
.navbar-collapse{
    flex-grow: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
li.nav-item{
    color: #fff;
}
.navbar-dark .navbar-toggler {
    border-color: #fff
}
.bg-green{
    background-color: rgb(22, 255, 166);
    margin-bottom: 50px;
}
.header-content{
    text-align: center;
    padding: 50px 0;
    color: white;
    margin-top: 50px;
}
.jumbo{
    width: 250px;
}

.man-picture{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.title-picture{
    text-align: center;
    margin-bottom: 24px;
}
.box-picture{
    height: 260px;
    height: 260px;
    background-color: red;
    margin-bottom: 24px;
}
.box-picture img{
    width: 100%;
    height: 100%;
}
.about-content{
    padding: 50px 0;
    color: white;
}
.about-title{
    text-align: center;
    margin-bottom: 24px;
}
.button-download{
    text-align: center;
}
.btn-success {
    color: #fff;
    background-color: rgb(22, 255, 166);
    border-color: #ffffff;
}
form{
    margin-bottom: 40px;
}
form input{
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 20px;
}
textarea{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}
.contact-title{
    text-align: center;
}

footer{
    text-align: center;
    color: white;
}
.footer-content{ 
    padding: 30px;
    background-color: rgb(52, 52, 105);
}
.around-content a i{
    font-size: 30px;
    color: white;
    margin-left: 5px;
}
.foot-link a{
    text-decoration: none;
    color: cornflowerblue;
}
.foot-bar{
    background-color: rgb(34, 34, 51);
    padding: 30px;
}